/* Add styles here to customize the appearance of your app */
@import url('https://fonts.googleapis.com/css?family=Tajawal&display=swap');

body, html{
    margin: 0;
    color: #ffffff;
    background-color: #333333;
    height: 100%;
}

*{
    box-sizing: border-box;
    font-family: "Tajawal";
}

.arabic-text{
    direction: rtl;
}

.viewsContainer{
    margin: 0 auto;
    max-width: 500px;
    height: 100%
}

/* Booth Screen Styles */

.webcamViewContainer{
    /* overflow: hidden; */
    position: relative;
    min-height: 357px;
}
#webcam-view{
    width: 100%;
    border-radius: 4%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.boothView{
    display: none;
}

.boothView.show{
    display: block;
}

.answer button{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    color: #333333;
    width: 100%;
}

/* Onsor Screen Styles */
.onsorView{
    display: none;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.onsorView.show{
    display: flex;
}

.onsorView__btnContainer{
    display: flex;
    justify-content: center;
}

#user-info-form input{
    width: 100%;
    margin-bottom: 20px;
}
.btn, #user-info-form input{
    padding: 12px;
    font-size: 18px;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
}

.onsorView__btnContainer{
    margin-top: 30px;
}
.btn:hover{
    cursor: pointer;
}

#capture-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
}

#to-questions-btn{
    width: 150px;
}

#countdown-container{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #33333322;
    z-index: 100;
}

#countdown-container.show{
    display: block;
}